<div class="main-sec">
<div class="col-md-4 col-centered user_setup">
   <div class="user_setup_content">
      <h3>Sign up</h3>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "submit" %>
        </div>
      <% end %>

        <div class="account">
          <%= link_to "Alredy have an account? Login now.", new_session_path(resource_name) %><br />
        </div>

        <hr>

        <p class="in-other-account">Sign Up with Other Accounts</p>

        <div class="other-group">
            <%= link_to "", user_google_oauth2_omniauth_authorize_path, class: "fa fa-google other-1" %>
            <%= link_to "", user_facebook_omniauth_authorize_path, class: "fa fa-facebook other-2" %>
            <%= link_to "", user_github_omniauth_authorize_path, class: "fa fa-github-alt other-1" %>
        </div>

      </div>
</div>
</div>
