<div class="row">
  <div class="col-md-8 col-centered">

    <h2>Order Detail</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">Order List</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% current_cart.cart_items.each do |cart_item| %>
        <tr>
          <td><%= link_to(cart_item.product.title, product_path(cart_item.product)) %></td>

          <% if cart_item.product.discount.present? %>
            <td><%= cart_item.product.price * cart_item.product.discount / 100 %></td>
          <% else %>
            <td><%= cart_item.product.price %></td>
          <% end %>

          <td><%= cart_item.quantity %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="total clearfix">
      <span class="pull-right">
        $ <%= render_cart_total_price(current_cart) %> in Total
      </span>
    </div>

    <hr>

    <h2>Order Info</h2>
    <div class="order-form">

      <%= simple_form_for @order do |f| %>

      <legend>Billing Info</legend>
      <div class="form-group col-lg-6">
        <%= f.input :billing_name, input_html: { value: "123 Street, XJP, China" } %>
      </div>
      <div class="form-gropu col-lg-6">
        <%= f.input :billing_address, input_html: { value: "123 Street, XJP, China" } %>
      </div>

      <legend>Shipping Info</legend>
      <div class="form-group col-lg-6">
        <%= f.input :shipping_name, input_html: { value: "123 Street, XJP, China" } %>
      </div>
      <div class="form-group col-lg-6">
        <%= f.input :shipping_address, input_html: { value: "123 Street, XJP, China" } %>
      </div>

      <div class="checkout">
        <%= f.submit "Proceed to Checkout", class:"btn btn-lg btn-danger pull-right", data: { disable_with: "Submitting..." } %>
      </div>

      <% end %>

    </div>

  </div>
</div>
