<h2>Product List</h2>

<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("Add New Product", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>

<table class="table table-bordered">

  <thead>
    <tr>
      <th>#</th>
      <th width="220">Product Pic</th>
      <th>Name</th>
      <th>Price</th>
      <th width="110">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td>
          <%= link_to product_path(product) do %>
          <% if product.photos.present? %>
            <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
          <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
            <% end %>
          <% end %>
        </td>
        <td><%= product.title %></td>
        <td>$ <%= product.price %></td>
        <td><center>
          <%= link_to(move_up_admin_product_path(product), :method => :post) do %> <i class="fa fa-arrow-up fa-lg"></i><% end %> |
          <%= link_to(move_down_admin_product_path(product), :method => :post) do %><i class="fa fa-arrow-down fa-lg"></i><% end %>
          <br><br>
          <%= link_to(edit_admin_product_path(product)) do %><i class="fa fa-edit fa-lg"></i><% end %> |
          <%= link_to(admin_product_path(product), method: :delete, data: { confirm: "Are you sure?" }) do %><i class="fa fa-trash fa-lg"></i><% end %>
        </td></center>
      </tr>
    <% end %>
  </tbody>

</table>
