<div class="main-sec">
  <div class="row">
      <div class="col-md-8 col-centered">
  <% if @query_string.blank? %>
      <div class="search-info-title">
        What are you looking for?
      </div>

    <% elsif @products.blank? %>
      <br>
      <h2 class="search-info-title">Can't find related info, please try again</h2>
    <% else %>
      <h2 class="search-info-title"> Result About "<%= @query_string %>" </h2>

      <div class="search-result">
        <% @products.each do |product| %>
          <div class="col-xs-6 col-md-3">
            <%= link_to product_path(product) do %>
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
              <% end %>
            <% end %>
            <%= product.title %> ￥ <%= product.price %>
          </div>
        <% end %>
      </div>

      <div class="text-center">
        <%= will_paginate(@products, renderer: BootstrapPagination::Rails) %>
      </div>
    <% end %>
  </div>
</div>
</div>
