<div class="col-md-10 col-centered">
    <div class="panel-body">
				<div class="preview col-md-6">

					<div class="preview-pic tab-content">
					  <div class="tab-pane active" id="pic-1"><%= image_tag(@product.photos[0].avatar.medium.url) %></div>
					  <div class="tab-pane" id="pic-2"><%= image_tag(@product.photos[1].avatar.medium.url) %></div>
					  <div class="tab-pane" id="pic-2"><%= image_tag(@product.photos[0].avatar.medium.url) %></div>
					  <div class="tab-pane" id="pic-2"><%= image_tag(@product.photos[1].avatar.medium.url) %></div>
            <div class="tab-pane" id="pic-2"><%= image_tag(@product.photos[0].avatar.medium.url) %></div>
					</div>
					<ul class="preview-thumbnail nav nav-tabs">
					  <li class="active"><a data-target="#pic-1" data-toggle="tab"><%= image_tag(@product.photos[0].avatar.medium.url) %></a></li>
					  <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag(@product.photos[1].avatar.medium.url) %></a></li>
					  <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag(@product.photos[0].avatar.medium.url) %></a></li>
					  <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag(@product.photos[1].avatar.medium.url) %></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><%= image_tag(@product.photos[0].avatar.medium.url) %></a></li>
          </ul>

				</div>
				<div class="details col-md-6">
					<h3 class="product-title"><%= @product.title %></h3>
					<div class="rating">
						<div class="stars">
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star checked"></span>
							<span class="fa fa-star"></span>
							<span class="fa fa-star"></span>
						</div>
						<span class="review-no">41 reviews</span>
					</div><br/>


            <h4 class="price col-md-9">
            <!-- 如果有倒計時   -->
            <% if @product.countdown.present?%>
            <!-- 倒計時間換成數字，北京時間與格林威治時間相差 (8/24) 天 -->
            <% closedate = DateTime.strptime(@product.countdown, "%FT%R") -0.333333 %>
            Time left:<p id="timer"></p>
            <% end %>
            <!-- 如果有折扣 -->
            <% if @product.discount.present? && @product.quantity > 0 %>
              <!--  顯示原價，加上刪除線 -->
              <s><div class="product-price">origin price:<span>￥ <%= @product.price %></span></div></s>
              <!--  顯示優惠價 -->
              <div class="product-price discount">current price: ￥<%= @product.price = @product.price * @product.discount/100 %></div>
            <% else %>
              <!-- 沒折扣 -->
              <div class="product-price"> ￥ <%= @product.price %> </div>
            <% end %>
              <br>
              <div class="price"> Qty : <%= @product.quantity %> </div>
            </h4>



          <div class="">
            <div class="btn-group col-md-5" role="group" aria-label="...">
              <button type="button" class="btn btn-default"><%= link_to("-", downcount_product_path(@product), method: :post) %></button>
              <button type="button" class="btn btn-default"><%= @product.counts.count %></button>
              <button type="button" class="btn btn-default"><%= link_to("+", upcount_product_path(@product), method: :post) %></button>
              <!-- <button class="like btn btn-default pull-right" type="button"><span class="fa fa-heart"></span></button> -->

              <span class="pull-left">
                <% if current_user && !current_user.is_favoriter_of?(@product) %>
                  <%= link_to("", favorite_product_path(@product), method: :post, class: "fa fa-heart-o fa-2x") %>
                <% else %>
                  <%= link_to("", unfavorite_product_path(@product), method: :post, class: "fa fa-heart fa-2x", style: "color:red;") %>
                <% end %>
              </span>

            </div>

						<div class="action col-md-7">
							<button class="add-to-cart btn btn-default pull-right" type="button">
                <% if @product.quantity.present? && @product.quantity > 0 %>
                <%= link_to("add to cart", add_to_cart_product_path(@product), method: :post) %>
                <% else %>
                Sold Out
                <% end %>
              </button>
              <%= link_to("Checkout", checkout_carts_path, method: :post, class: "btn add-to-cart btn-default pull-right") %>
						</div>
          </div>

          <br/>

          <div class="">
            <% if @product.quantity.present? && @product.quantity > 0 %>
            <!-- <%= link_to("Buy It At Once", add_to_cart_product_path(@product), method: :post, :class => "btn btn-block btn-default") %> -->
            <% else %>
            已销售一空，无法购买
            <% end %>
          </div>

          <hr>
          <p class="product-description"><%= @product.description %></p><br/>

				</div>

		</div>
</div>


              <!-- <% if @photos.present? %>
                 <% @photos.each_with_index do |p, index| %>
                   <% if index == 0 %>
                    <%= image_tag p.avatar.medium.url %>
                      <div style="letter-spacing: -8px">
                       <% else %>
                         <%= image_tag p.avatar.thumb.url %>
                       <% end %>
                    <% end %>
                      </div>
                   <% else %>
                   <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
               <% end %> -->


<script> // countdown
// Set the date we're counting down to
var closedate = <%= closedate.to_json.html_safe%>;
var countDownDate = new Date(closedate).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timer").innerHTML = days + " D | " + hours + " H | "
  + minutes + " M | " + seconds + " S ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
