<div class="main-sec">
  <div class="col-md-10 col-centered">

    <div class="col-md-12">

    <!-- 商品圖片 -->
      <div class='col-xs-12 col-md-7 pull-left'>
        <div class="row product-box">
          <% if @product.photos.present? %>
          <!-- 显示大图尺寸 -->
          <div class="col-md-12">
            <%= image_tag(@product.photos[1].avatar.large.url, class: 'main-image img') %>
          </div>
            <% @product.photos.each do |p| %>
              <!-- 显示小图尺寸 -->
              <div class="col-md-3 col-sm-6 col-xs-6 image-box">
                <%= image_tag(p.avatar.large.url, class: 'list-image img') %>
              </div>
            <% end %>
          <% else %>
            <%= image_tag('http://placehold.it/400x400&text=No Pic', class: 'thumbnail') %>
          <% end %>
        </div>
      </div>

      <!-- 商品描述 -->
      <div class="col-md-5 col-xs-12">
						<h4 class="product-title"><%= @product.title %></h4>
						<div class="rating">
              <span class="review-no" data-toggle="collapse" data-target="#comment">
              <!--对商品评星-->
							<div class="stars">
                  <div class="star-freshness" data-score= <%= @avg_review %> ></div>
							</div>
              <!--顯示有多少reviews-->
                <%= @product.reviews.count + 15 %> reviews
              </span>
              <!--點擊隱藏/展開reviews-->
              <div id="comment" class="collapse">
                <% @reviews.each do |review| %>
                <div class="star-freshness" data-score= <%= review.freshness %> ></div>
                <!--  review.user.display_name  -->
                  <p>Comment： <%= review.body %>
                <!-- Admin可刪除留言 -->
                  <% if current_user && current_user.admin? %>
                    <%= link_to("Delete", product_review_path(@product, review), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-sm pull-right") %>
                  <% end %>
                  </p>
                <% end %>
              </div>

						</div>

            <div class="price">
              <!-- 如果有折扣 -->
              <% if @product.discount.present? && @product.quantity > 0 %>
                <!--  顯示原價，加上刪除線 -->
                <s><div class="product-price">Origin Price:<span>￥ <%= @product.price %></span></div></s>
                <!--  顯示優惠價 -->
                <div class="product-price discount">Current Price: ￥<%= @product.price = @product.price * @product.discount/100 %></div>
              <% else %>
                <!-- 沒折扣 -->
                <div class="product-price"> ￥ <%= @product.price %> </div>
              <% end %>
            </div>

            <!--对商品评论以及评星-->
            <!-- <div class="text-center">
              <h3>综合评价</h3>
              新鲜： <div class="star-freshness" data-score= <%= @avg_review %> ></div>
              <%= link_to("Rate Now",new_product_review_path(@product), :class => "btn btn-lg btn-info") %>
            </div> -->

            <div class="timeleft">
              <!-- 如果有倒計時   -->
              <% if @product.countdown.present?%>
              <!-- 倒計時間換成數字，北京時間與格林威治時間相差 (8/24) 天 -->
              <% closedate = DateTime.strptime(@product.countdown, "%FT%R") -0.333333 %>
              Discount Time Left <p id="timer"></p>
              <% end %>
            </div>


            <div class="select row">

            <div class="col-md-8">
              <div class="btn-group" role="group" aria-label="...">
                <%= link_to(content_tag(:i, "", class: "fa fa-minus btn btn-df"), downcount_product_path(@product), method: :post) %>
                  <button class="product-num"><%= @product.counts.count %></button>
                  <%= link_to(content_tag(:i, "", class: "fa fa-plus btn btn-df"), upcount_product_path(@product), method: :post) %>
                  <!-- <button class="like btn btn-default pull-right" type="button"><span class="fa fa-heart"></span></button> -->
                  <span class="heart pull-right">
                  <% if current_user && !current_user.is_favoriter_of?(@product) %>
                      <%= link_to("", favorite_product_path(@product), method: :post, class: "fa fa-heart-o fa-lg heart-yes") %>
                  <% else %>
                      <%= link_to("", unfavorite_product_path(@product), method: :post, class: "fa fa-heart fa-lg heart-no") %>
                  <% end %>
                </span>
              </div>
            </div>


            <!-- 社群分享按鈕 -->
            <!-- https://github.com/huacnlee/social-share-button -->
            <div class="col-md-3 pull-right">
              <%= social_share_button_tag(@product.title, :allow_sites => %w(wechat facebook email)) %>

            <div class="col-md-3 quantity">
              <div> Quantity: <%= @product.quantity %></div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6 text-centered">
          <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("Add to Cart", add_to_cart_product_path(@product), method: :post, class: "buy button orange addcar", id: "end") %>
          <% else %>
          Sorry! It's sold out!
          <% end %>
        </div>

        <div class="col-md-6 text-centered">
          <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("Checkout", checkout_carts_path, method: :post, class: "buy") %>
          <% else %>
          ""
          <% end %>
        </div>

      </div>
      <!--对商品评论以及评星-->
      <hr>
      <div class="row">
        <!-- 如果已經評分過就不要出現評分區 -->
        <% unless current_user && @product.find_review(current_user) %>

          <%= simple_form_for([@product, @product.reviews.build]) do |f|%>
            <div class="form-group">
              <%= f.input :body, label: "Please tell us what you think ", input_html: { class: "form-control"} %>
            </div>

            <div class="form-actions pull-right">
              <%= f.submit "Comment", disable_with: "Submiting...", class: "buy"%>
            </div>
            <div class=" clearfix pull-left">
              <div id="star-freshness">Rate Now： </div>
            </div>
          <% end %>

        <% end %>
      </div>

    </div>

    </div>
      </div>

      <%= render "details" %>


	</div>



<script> // countdown
// Set the date we're counting down to
var closedate = <%= closedate.to_json.html_safe%>;
var countDownDate = new Date(closedate).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timer").innerHTML = days + " D | " + hours + " H | "
  + minutes + " M | " + seconds + " S ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

<script src="/assets/application.js"></script>
