<div class="main-sec">
  <div class="col-md-10 col-centered">

    <!-- 商品圖片 -->
      <div class='col-xs-12 col-md-6'>
        <div class="row product-box">
          <% if @product.photos.present? %>
          <!-- 显示大图尺寸 -->
          <div class="col-md-12">
            <%= image_tag(@product.photos[1].avatar.large.url, class: 'main-image ') %>
          </div>
            <% @product.photos.each do |p| %>
              <!-- 显示小图尺寸 -->
              <div class="col-md-3 col-sm-4 col-xs-6 image-box">
                <%= image_tag(p.avatar.large.url, class: 'list-image ') %>
              </div>
            <% end %>
          <% else %>
            <%= image_tag('http://placehold.it/400x400&text=No Pic', class: 'thumbnail') %>
          <% end %>
        </div>
      </div>

      <!-- 商品描述 -->
      <div class="col-xs-12 col-md-6">
        <h4 class="price col-md-9">
        <!-- 如果有倒計時   -->
        <% if @product.countdown.present?%>
        <!-- 倒計時間換成數字，北京時間與格林威治時間相差 (8/24) 天 -->
        <% closedate = DateTime.strptime(@product.countdown, "%FT%R") -0.333333 %>
        Time left:<p id="timer"></p>
        <% end %>
        <!-- 如果有折扣 -->
        <% if @product.discount.present? && @product.quantity > 0 %>
          <!--  顯示原價，加上刪除線 -->
          <s><div class="product-price">origin price:<span>￥ <%= @product.price %></span></div></s>
          <!--  顯示優惠價 -->
          <div class="product-price discount">current price: ￥<%= @product.price = @product.price * @product.discount/100 %></div>
        <% else %>
          <!-- 沒折扣 -->
          <div class="product-price"> ￥ <%= @product.price %> </div>
        <% end %>
          <br>
          <div class="price"> Qty : <%= @product.quantity %> </div>
        </h4>



      <div class="">
        <div class="btn-group col-md-5" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><%= link_to("-", downcount_product_path(@product), method: :post) %></button>
          <button type="button" class="btn btn-default"><%= @product.counts.count %></button>
          <button type="button" class="btn btn-default"><%= link_to("+", upcount_product_path(@product), method: :post) %></button>
          <!-- <button class="like btn btn-default pull-right" type="button"><span class="fa fa-heart"></span></button> -->

          <span class="pull-right">
            <% if current_user && !current_user.is_favoriter_of?(@product) %>
              <%= link_to("", favorite_product_path(@product), method: :post, class: "btn btn-default fa fa-heart-o fa-lg") %>
            <% else %>
              <%= link_to("", unfavorite_product_path(@product), method: :post, class: "btn btn-default fa fa-heart fa-lg", style: "color:red;") %>
            <% end %>
          </span>

        </div>

        <div class="action col-md-7">
          <button class="add-to-cart btn btn-default pull-right" type="button">
            <% if @product.quantity.present? && @product.quantity > 0 %>
            <%= link_to("add to cart", add_to_cart_product_path(@product), method: :post) %>
            <% else %>
            Sold Out
            <% end %>
          </button>
          <%= link_to("Checkout", checkout_carts_path, method: :post, class: "btn add-to-cart btn-default pull-right") %>
        </div>
      </div>

      <br/>

      <div class="">
        <% if @product.quantity.present? && @product.quantity > 0 %>
        <!-- <%= link_to("Buy It At Once", add_to_cart_product_path(@product), method: :post, :class => "btn btn-block btn-default") %> -->
        <% else %>
        已销售一空，无法购买
        <% end %>
      </div>

      <hr>
      <p class="product-description"><%= @product.description %></p><br/>

      </div>

	</div>
</div>





<script> // countdown
// Set the date we're counting down to
var closedate = <%= closedate.to_json.html_safe%>;
var countDownDate = new Date(closedate).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("timer").innerHTML = days + " D | " + hours + " H | "
  + minutes + " M | " + seconds + " S ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
