<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?4lnqU6BRohsq0C9cdpvkm0EE26fVmHHe";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->

<footer class="navbar-default ">
   <div class="container-fluid">
       <div class="row footer-below text-center">
         <%= link_to "/about" do %>About Us<% end %> |
         <%= link_to "/how#delivery" do %>Delivery<% end %> |
         <%= link_to "/about#contact" do %>Contact Us <% end %> |
         <%= link_to "https://goo.gl/78BMsw", target: :_blank do %>后端功能教学 <% end %> |
         <%= link_to "https://goo.gl/ivVB3e", target: :_blank do %>Links<% end %><br>
         Copyright ©2017 Sweet Sweet,
         Designed by Sylvia &amp; Tim <br><br>
         <%= link_to "https://github.com/sylvialyu/fruittart2", target: :_blank do %>
         <span class="fa fa-github-alt fa-2x"></span><% end %>
          | <%= link_to "https://goo.gl/ivVB3e", target: :_blank do %>
          <span class="fa fa-caret-square-o-right fa-2x"></span><% end %> <br><br>
          .
       </div>
   </div>
</footer>
