<!DOCTYPE html>
<html>
  <head>
    <title>Sweet Sweet</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheets" type="text/scss" href="welcome7s.scss">

    <!-- 尝试一个 js 效果-->
    <!-- <script>
      jQuery(document).ready(function($) {
        $('.counter').counterUp({
          delay: 10,
          time: 1000
        });
      });
    </script> -->
    <!-- End of trial -->

  </head>

  <body>
    <div class="row">
      <%= render "common/navbar" %>
      <%= render "common/flashes"%>
      <%= yield %>
    </div>

    <%= render "common/footer" %>

  </body>
</html>
